.custom-navbar {
  background-color: #212529 !important; /* preto fixo */
  transition: background-color 0.3s;
}

.custom-navbar .navbar-brand img {
  filter: brightness(1);
  transition: filter 0.3s;
}

.custom-navbar .navbar-nav .nav-link {
  color: #fff !important;
  transition: color 0.2s;
  position: relative;
}

.custom-navbar .navbar-nav .nav-link:hover,
.custom-navbar .navbar-nav .nav-link.active {
  color: #ffc800 !important; /* cor destaque ao passar o mouse */
}

.custom-navbar .navbar-brand:hover img {
  filter: brightness(0.7);
}